@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F4F6F3;

}

.nav-container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-itens {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-item-container {
    display: flex;
    list-style: none;
    align-items: center;
}

.svg-icon {
    margin-right: 50px;
}

.nav-item-container a {

    text-decoration: none;
    margin: 0 16px;
    font-size: 14px;
    color: #1f1f1f;
    line-height: 19px;
    transition: .3s ease;
}

.nav-item-container a:hover {
    color: rgb(43, 43, 43)
}

.nav-button-container {
    display: flex;
    align-items: center;
}

.nav-button-container .login {
    display: flex;
    text-decoration: none;
}

.nav-button-container .login img {
    margin-right: 8px;
}

.nav-button-container .login h3 {

    font-size: 14px;
    color: #1f1f1f;
    line-height: 19px;

}


.nav-button-container .registro {
    width: 100px;
    height: 37px;
    border: 1px solid #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
}

.nav-button-container .registro h3 {
    font-weight: 500;
    font-size: 14px;
    color: #1f1f1f;
    line-height: 19px;
    transition: 0.3s ease;
}


.nav-button-container .registro:hover {
    
    background-color: #154b080c;
}


.section-container {
    width: 100%;
    height: 700px;
    background-color: #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
}

.section-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section-text-container h1 {
    color: #050505;
    font-weight: 600;
    font-size: 52px;
}

span {
    color: #154B08;
    font-weight: 600;
}

.section-text-container p {
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0;
}

.pedido-button {
    margin-top: 10px;
    width: 150px;
    height: 51px;
    border-radius: 1px;
    background-color: #154B08;
    color: #F6F5F3;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-image-container {
    width: 30%;
}


.services-container {
    padding: 0 40px;
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao {
    width: 50%;
}

.services-image{
    width: 40%;
}

.descricao h1 {
    color: #050505;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.descricao p {
    margin: 30px 0;
    color: #555;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.descricao .button-cardapio {
    margin-top: 10px;
    width: 150px;
    height: 51px;
    border-radius: 1px;
    background-color: #154B08;
    color: #F6F5F3;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.descricao a {
    text-decoration: none;
}



.footer-container {
    width: 100%;
    height: 280px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.logo {
    margin-bottom: 50px;
}


.info-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.info-logo-container p {
    margin-top: 10px;
    color: #505050;
    font-size: 14px;
}

.information {
    display: flex;

}

.endereco {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.contato {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.horario {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.tittle h3 {


    font-size: 16px;
}

.tittle {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.png-base {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endereco p {
    color: #505050;

    font-size: 14px;
    font-style: normal;

    line-height: normal;
}

.contato p {
    color: #505050;

    font-size: 14px;
    font-style: normal;

    line-height: normal;
}

.horario p {
    color: #505050;

    font-size: 14px;
    font-style: normal;
    line-height: normal;

}


@media screen and (max-width: 1600px) {


    .logo {
        width: 300px;
    }

    .tittle h3 {
        font-size: 14px
    }

    .horario p {
        font-size: 12px;
    }

    .endereco p {
        font-size: 12px;
    }

    .contato p {
        font-size: 12px;
    }

    .info-logo-container {
        align-items: flex-start;
    }

    .info-logo-container p {
        font-size: 12px;
    }

    .menu-info h1 {
        font-size: 24px;
    }

    .text-container h1 {
        font-size: 32px
    }

    .text-container p {
        font-size: 16px
    }


}

@media screen and (max-width: 1400px) {

    .endereco {
        margin: 0 10px;
    }

    .contato {
        margin: 0 10px;
    }

    .horario {
        margin: 0 10px;
    }

    .slice {
        width: 200px;
    }

    .img-text h1 {
        font-size: 36px;
    }

    .text-container h1 {
        font-size: 30px
    }

    .text-container p {
        font-size: 14px
    }


    .img-text p {
        margin: 20px 0;
        font-size: 16px;

    }
}

@media screen and (max-width: 1200px) {

    .slice {
        display: none;
    }

    .menu-info h1 {

        margin-bottom: 10px;
    }

    .menu-info a {
        margin-top: 10px;

    }

    .text-container h1 {
        font-size: 28px
    }
}

@media screen and (max-width: 1000px) {

    .img-text h1 {
        font-size: 30px;
    }


    .img-text p {
        margin: 20px 0;
        font-size: 14px;

    }

    .text-container h1 {
        font-size: 26px
    }

    .text-container p {
        font-size: 12px
    }
}

@media screen and (max-width: 900px) {
    .sobre-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-img {
        width: 60%;
        margin: 20px 0;
    }

    .text-container {
        text-align: center;
        width: 60%;
    }

    .footer-container {
        flex-direction: column;
    }

    .info-logo-container p {
        display: none;
    }

    .teste {
        display: none;
    }

    .info-logo-container {
        align-items: center;
    }

    .information {
        width: 100%;
        justify-content: space-around;
    }

}



@media screen and (max-width: 720px) {

    .img-text h1 {
        font-size: 24px;
    }

    .text-container h1 {
        font-size: 24px
    }

    .text-container p {
        font-size: 12px
    }


    .img-text p {
        margin: 20px 0;
        font-size: 12px;

    }

    .menu-info h1 {
        font-size: 20px;
    }

    .menu-info a {
        width: 100px;
        height: 30px;
        font-size: 9px;
    }



    .info-logo-container {
        align-items: center;
    }



}


.logout{
    text-decoration: none;
    color: rgb(197, 21, 21);
    padding: 8px;
    border-left:  1px solid rgba(128, 128, 128, 0.664);
    margin-left: 8px;
}


